<mat-toolbar>
  <mat-toolbar-row>
      <span class="title">About</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="match-card">
      
      <mat-card-title>Decentralized Betting Platform</mat-card-title>
      <mat-card-subtitle>Developed by Alex </mat-card-subtitle> 
      
    <img src="assets/ethereum_coin.png" class="image">
    <mat-card-content>   
      Decentralized peer-to-peer betting platform, built on the Ethereum Blockchain.<br>
      The user bets just agains the rest of participants of the network without third party involved.<br>
      Currently there are 3 options to bet in a match: victory local team, victory away team or draw.<br>
      No company put the odds. The maths are the ones in charge of distribute the money when the match finishes: <br>
      All the winners will get all the money bet in the match, while the losers just lose that money.
      .<br><br>

      There is not third party involved, which makes it totally decentralized.
    </mat-card-content>
</mat-card>