/* DashboardComponent's private CSS styles */
.mat-toolbar{
  background-color: #4d7701;
  color: #f4f0f4;
}
.title{
  float: center;
}
[class*='col-'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  [class*='col-']:last-of-type {
    padding-right: 0;
  }
  a {
    text-decoration: none;
  }
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  h3 {
    text-align: center;
    margin-bottom: 0;
  }
  h4 {
    position: relative;
  }
  .grid {
    margin: 0;
  }
  .col-1-4 {
    width: 25%;
  }
  .match-card{
    padding: 20px;
    color: #f46500;
    background-color: #f4f0f4;
    border-radius: 2px;
    min-width: 240px;
  }
  .match-card:hover {
    // background-color: #f46500;
    cursor: pointer;
    color: #4d7701;
  }
  .mat-card-title{
    text-align: center;
  }
  .mat-card-content{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  .mat-radio-button .mat-accent .mat-radio-inner-circle{
    color: #4d7701;
  }
  .mat-card-subtitle{
    font-size: 20px;
    color: #000000;
  }
  .vs{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
  }
 
  .mat-radio-group{
    display:flex ;
    width:100%;
    justify-content: space-between;
  }
  .bet-button{
    color: #4d7701;
    margin-left: 20px;
    width: 20%;
  }

  .grid-pad {
    padding: 10px 0;
  }
  .grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
  }
  @media (max-width: 600px) {
    .module {
      font-size: 10px;
      max-height: 75px; }
  }
  @media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
    .module {
      min-width: 60px;
    }
  }