/* DashboardComponent's private CSS styles */
.mat-toolbar{
  background-color: #4d7701;
  color: #f4f0f4;
}
.title{
  float: center;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  margin-bottom: 0;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}
.module {
  padding: 20px;
  text-align: center;
  min-width: 240px;
  color: #f46500;
  background-color: #f4f0f4;
  border-radius: 2px;
  margin-bottom: 20px;
}
.module:hover {
  cursor: pointer;
  color: #4d7701;
}
.mat-card-title{
  text-align: center;
}
.mat-grid-list{
  text-align: start;

}
.mat-radio-button .mat-accent .mat-radio-inner-circle{
  color: #4d7701;
}
.mat-grid-tile{
  font-size: 50px;
  color: #000000;
}
.chart {
  height: 100px;
  width: 200px;
}


.vs{
  font-size: 60px;
}

.mat-radio-group{
  float: left;
  width: 30%;
  margin-top: 20px;
  justify-content: space-between;
}
.mat-form-field{
  float:center;
  width: 40%;
}
.bet-button{
  color: #4d7701;
  margin-right: 10%;
  margin-top: 22px;
  float: right;
  width: 20%;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}