<!--The content below is only a placeholder and can be replaced.-->

<!-- <div style="text-align:center">
  <h1 class="mat-headline">
    {{ title }}!
  </h1>
  <img width="200" alt="Angular Logo" src="assets/ethereum.png">
</div> -->

<mat-tab-group>
    <mat-tab label="Dashboard">
      <app-dashboard></app-dashboard>
    </mat-tab>
    <mat-tab label="Fixtures">
      <app-fixtures></app-fixtures>
    </mat-tab>
    <mat-tab label="Teams">
      <app-teams></app-teams>
    </mat-tab>
    <mat-tab label="About">
      <app-about></app-about>
    </mat-tab>
</mat-tab-group>
<!-- <nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/fixtures">Fixtures</a>
</nav> -->

<!-- <app-fixtures></app-fixtures> -->

<!-- <router-outlet></router-outlet> -->
