h1 {
    font-size: 1.2em;
    color: #05386B;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
  nav {
    text-align: center;
  }

  .mat-tab-group.mat-primary .mat-ink-bar
  {
    background-color: #f46500;
    color:  #f46500;
}
.mat-tab-group {
    background-color: #4d7701 !important;
    color: #f4f0f4;
    height: 85%; 
  }
  .mat-tab-label{
    // background-color: #edf5ed;
    color: #f4f0f4 !important;
    font-weight: bold;
    font-style: initial;
  }
  .mat-tab-lavel-active{
    color: #181524 !important;
  }
  // mat-tab-group{
  //   background-color: #05386B;
  //   color: #edf5ed
    
  // }
  
  // nav a {
  //   padding: 5px 10px;
  //   text-decoration: none;
  //   margin-top: 10px;
  //   margin-right: 10px;
  //   display: inline-block;
  //   background-color: #eee;
  //   border-radius: 4px;
  // }
  // nav a:visited, a:link {
  //   color: #607d8b;
  // }
  // nav a:hover {
  //   color: #039be5;
  //   background-color: #cfd8dc;
  // }
  // nav a.active {
  //   color: #039be5;
  // }